<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}">
</head>
<body class="login-container"> <div class="login-card">
        <h1>Login</h1>

        <form action="/" method="post">
            <div style="text-align: left;"> <label>Usuário:</label>
                <input type="text" name="usuario" required>

                <label>Senha:</label>
                <input type="password" name="senha" required>
            </div>

            <button class="btn-add" type="submit" style="width: 100%; margin-top: 20px;">
                Entrar
            </button>
        </form>
    </div>

</body>
</html>